<link rel="stylesheet" href="https://unpkg.com/ag-grid-community@28.0.0/styles/ag-grid.css" />
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community@28.0.0/styles/ag-theme-alpine.css" />

<div>
    <button type="button" class="btn btn-primary b1" (click) = "onCliamClick()">Claim Task</button>
    <button type="button" class="btn btn-primary b1" (click) = "onUnclaimClick()">Unclaim Task</button>
    <button type="button" class="btn btn-primary b1" (click) = "onCompleteClick()">Complete Task</button>
</div>

<ag-grid-angular style="width: 100%; padding-right: 20px; height: 650px;" class="ag-theme-alpine" [rowData]="rowData"
    [columnDefs]="columnDefs" (gridReady)="onGirdReady($event)">

</ag-grid-angular>